*{
    font-family: 'Courier New', Courier, monospace;
}
body, html{
    margin: 0;
    height: 100%;
    position: relative;
}
nav{
    width: 100%;
    background-color: #6DA05C;
}
#navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
#navLinks a{
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
    padding: 0 15px;
    transition: all ease-in 200ms;
}
#navLinks a:hover{
    background-color: #DEEAD9 ;
    color: #255121 ;
}
#navLinks img{
    width: 20%;
}
/* * Landing Section */
#landingSec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
    background-color: #F0FEEB;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#logoImg, #title img{
    width: 80%;
    position: relative;
    z-index: 1;
}
#title button{
    width: 50%;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #5AB242;
    font-size: 1.2rem;
    color: #fff;
    transition: ease-in 300ms;
    position: relative;
    z-index: 1;
}
#title button:hover{
    cursor: pointer;
    background-color: #6A9957;
}
#aboutApp{
    background-color: #F0FEEB;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 100%;
    padding-bottom: 4rem;
}
#bgCharts{
    position: absolute;
    top: 160px;
    z-index: 0;
}
#bgCharts img{
    width: 100%;
    opacity: .7;
}
#headerBox{
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.5rem;
    grid-column: 1/3;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}
#headerBox h2{
    color: #255121;
    text-align: center;
    
}

#expensePi{
    height: 70vh !important;
    width: 40vw !important;
    position: relative;
}
#insertToPi{
    width: 60%;
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}
#insertToPi p{
    font-size: 2.5rem;
    color: #255121;
    margin-top: 0;
}
#insertToPi form{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    position: relative;
}

#expenseForm input{
    height: 40px;
    border-radius: 10px;
    background-color: #DEEAD9;
    border: none;
    text-indent: 5px;
    font-size: 1.2rem;
    outline: none;
}
#expenseForm button{
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #5AB242;
    width: 40%;
    justify-self: end;
    transition: ease-in 300ms;
    color: #fff;
    font-size: 1.2rem;
}
#expenseForm button:hover{
    cursor: pointer;
    background-color: #6A9957;
}
#totalExpenses{
    font-size: 3rem;
    display: block;
}
.errorChecking{
    transition: ease-in 300ms;
    display: none;
}

#insertToPi .error, #dashboard .error{
    display: block;
    color: red;    
    font-size: 1rem;
    margin-bottom: 0;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 50%;
    background-color: #7D9C73;
}

footer ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

footer ul a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #255121;
}
#otherPages li{
    margin: 15px;
    padding: 5px;
    transition: all ease-in 200ms;
}
#otherPages li:hover{
    background-color: #DEEAD9;
    border-radius: 8px;
}
#otherPages{
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
}
#backToTop{
    grid-column: 1/4;
    width: 100%;
    text-align: center;
}
#backToTop button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: #255121;
    width: 30%;
    transition: all ease-in 200ms;

}
#backToTop button:hover{
    cursor: pointer;
    background-color: #DEEAD9;
}
.socials img{
    width: 60px;
    margin: 20px;
    padding: 5px;
    border-radius: 50%;
    transition: all ease-in 200ms;
}
.socials img:hover{
    background-color: #fff;
    border-radius: 50%;
}
#signUp{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#signUp form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    border-radius: 20px;
    align-content: flex-end;
    justify-content: space-around;
    padding: 20px;
}
#signUp p{
    color: #255121;
    font-size: 3rem;
    margin: 10px 0;

}
#signUp .error{
    color: rgb(223, 115, 115);
    font-size: 1.5rem;
}
#signUp form input{
    height: 40px;
    border: none;
    outline: none;
    background-color: #DEEAD9;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 1.1rem;
    width: 80%;
    margin-bottom: 15px;
}
#signUp form label{
    font-size: 1.2rem;
    display: block;
    padding: 15px 0;
}
#signUp form button{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #5AB242;
    transition: all ease-in 200ms;
    font-size: 1.2rem;
    color: #fff;
}
#signUp form button:hover{
    cursor: pointer;
    background-color: #6A9957;
}
#registerB{
    background-color: #DEEAD9;
}

#dashboard{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
}
#dashboardBody{
    background-color: #C8DBB1;
}
#userName{
    font-size: 1.5rem;
}
.cards{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 20px;
}
.amounts{
    font-size: 2.5rem;
    color: #65A55B;
    margin: 10px;
    align-self: center;
}
#dashForms{
    margin-left: 20px;
    text-align: center;
}
.formTitles{
    margin-left: 10px;
    font-size: 1.5rem;
}
#dashForms .plusButton{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    background-color: #F88989;
    margin: 8px;
    transition: all ease-in 200ms;
    align-self: flex-end;
}
#dashForms .plusButton:hover{
    cursor: pointer;
    transform: rotate(180deg);
}
#dashExpenseForm, #savingForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dashExpenseForm label{
    margin-top: 5px;
}
#dashForms input, #dashForms select{
    width: 80%;
    height: 30px;
    border: none;
    background-color: #DEEAD9;
    border-radius: 8px;
    text-indent: 5px;
    outline: none;
    margin-top: 10px;
}
#dashExpenseForm button, #savingForm button{
    width: 100%;
    border: none;
    background-color: #6DA05C;
    height: 30px;
    margin-top: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #fff;
    font-size: 1.1rem;
    transition: all ease-in 200ms;
}
#dashExpenseForm button:hover, #savingForm button:hover{
    cursor: pointer;
    background-color: #89C878;
}
.hideForm{
    display: none !important;
}
.redButton{
    background-color: #F88989 !important;
}
.greenButton{
    background-color: #6DA05C !important;
}
.infoCards{
    margin: 55px 20px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    align-items: start;
    justify-items: center;
}
#expenseInfo p, #budgetInfo p{
    font-size: 1.5rem;
}
#expenseInfo, #budgetInfo{
    background-color: #DEEAD9;
    padding: 20px;
    border-radius: 13px;
    margin-top: 40px;
}
#exByCat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 95%;
    background-color: #DEEAD9;
    margin-top: 50px;
    border-radius: 15px;
    padding-bottom: 20px;
}
#moreInfo{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    background-color: #DEEAD9;
    border-radius: 15px;
}

.secTitle{
    font-size: 1.3rem;
    grid-column: 1/3;
    justify-self: flex-start;
    background-color: #6A9957;
    color: #fff;
    margin: 0;
    padding: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.hideDiv{
    display: grid !important;
}
.list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.4rem;
}
.list li{
    margin: 10px;
}

.dataTables td{
    padding: 20px;
    font-size: 1.2rem;
}
.dataTables tr:nth-child(even){
    background-color: #6DA05C;
}
.dataTables tr:nth-child(odd){
    background-color: #b1d8a6;
}
.dataTables th{
    height: 35px;
    background-color: #65A55B;
    color: #fff;
    padding: 5px;
}
#monthlyBar{
    width: 400px;
    height: 300px;
}
.monthExpense{
    background-color: #DEEAD9;
    padding: 20px;
    border-radius: 13px;
}
#expenseExpand{
    margin: 10px;
    grid-column: 1/3;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #6DA05C;
    font-size: 1.2rem;
    font-weight: 700;
    justify-self: flex-end;
}
#expenseExpand:hover{
    cursor: pointer;
}
#budgetData{
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
    background-color: #DEEAD9;
    margin: 40px;
    border-radius: 15px;
    padding-bottom: 20px;
}
.infoCards:nth-last-of-type(1){
    grid-template-columns: 1fr;
}
#allExpensesCont{
    width: 95%;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    background-color: #DEEAD9;
    border-radius: 15px;
    grid-column: 1/3;
    padding-bottom: 40px;
    display: none;
}
#searchEx{
    grid-column: 1/3;
    justify-self: flex-start;
    width: 95%;
    margin: 20px;
}

#allExInfo{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
    gap: 20px;
}
.allExNames{
    display: block;
    font-size: 1.4rem;
    word-spacing: 2px;
}
.allCards{
    background-color: #fff;
    border-radius: 10px;
}
.allDates{
    font-size: 1.3rem;
    background-color: #6A9957;
    margin: 0;
    padding: 8px;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.allStyles{
    margin-left: 10px;
    font-size: 1.1rem;
}
.allStyles span{
    display: block;
}
.allAmounts{
    font-size: 2rem;
    color: #65A55B;
    font-weight: 600;
    padding: 4px;
}
#searchEx select{
    border: none;
    width: 30%;
    height: 40px;
    border-radius: 8px;
    text-indent: 8px;
    outline: none;
    
}
#searchEx button{
    border: none;
    height: 40px;
    background-color: #6DA05C;
    font-size: 1.1rem;
    border-radius: 8px;
    width: 15%;
    transition: all ease-in 200ms;
}
#searchEx button:hover{
    cursor: pointer;
    background-color: #89C878;
}
@media(max-width: 1750px){
    #exByCat{
        grid-column: 1/3;
    }
    #moreInfo{
        grid-column: 1/3;
    }
}
@media(max-width: 880px){
    #landingSec{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #logoImg{
        width: 60%;
    }
    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #aboutApp{
        grid-template-columns: 1fr;
        padding-bottom: 18rem;
    }
    #headerBox{
        grid-column: 1/2;
    }

}