*{
    font-family: 'Courier New', Courier, monospace;
}
body, html{
    margin: 0;
    height: 100%;
    position: relative;
}
nav{
    width: 100%;
    background-color: #6DA05C;
}
#navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
#navLinks a{
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
    padding: 0 15px;
    transition: all ease-in 200ms;
}
#navLinks a:hover{
    background-color: #DEEAD9 ;
    color: #255121 ;
}
#navLinks img{
    width: 20%;
}
/* * Landing Section */
#landingSec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
    background-color: #F0FEEB;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#logoImg, #title img{
    width: 80%;
    position: relative;
    z-index: 1;
}
#title button{
    width: 50%;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #5AB242;
    font-size: 1.2rem;
    color: #fff;
    transition: ease-in 300ms;
    position: relative;
    z-index: 1;
}
#title button:hover{
    cursor: pointer;
    background-color: #6A9957;
}
#aboutApp{
    background-color: #F0FEEB;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 100%;
    padding-bottom: 4rem;
}
#bgCharts{
    position: absolute;
    top: 160px;
    z-index: 0;
}
#bgCharts img{
    width: 100%;
    opacity: .7;
}
#headerBox{
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.5rem;
    grid-column: 1/3;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}
#headerBox h2{
    color: #255121;
    text-align: center;
    
}

#expensePi{
    height: 70vh !important;
    width: 40vw !important;
    position: relative;
}
#insertToPi{
    width: 60%;
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}
#insertToPi p{
    font-size: 2.5rem;
    color: #255121;
    margin-top: 0;
}
#insertToPi form{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    position: relative;
}

#expenseForm input{
    height: 40px;
    border-radius: 10px;
    background-color: #DEEAD9;
    border: none;
    text-indent: 5px;
    font-size: 1.2rem;
    outline: none;
}
#expenseForm button{
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #5AB242;
    width: 40%;
    justify-self: end;
    transition: ease-in 300ms;
    color: #fff;
    font-size: 1.2rem;
}
#expenseForm button:hover{
    cursor: pointer;
    background-color: #6A9957;
}
#totalExpenses{
    font-size: 3rem;
    display: block;
}
.errorChecking{
    transition: ease-in 300ms;
    display: none;
}

#insertToPi .error{
    display: block;
    color: red;    
    font-size: 1rem;
    margin-bottom: 0;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 50%;
    background-color: #7D9C73;
}

footer ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

footer ul a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #255121;
}
#otherPages li{
    margin: 15px;
    padding: 5px;
    transition: all ease-in 200ms;
}
#otherPages li:hover{
    background-color: #DEEAD9;
    border-radius: 8px;
}
#otherPages{
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
}
#backToTop{
    grid-column: 1/4;
    width: 100%;
    text-align: center;
}
#backToTop button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: #255121;
    width: 30%;
    transition: all ease-in 200ms;

}
#backToTop button:hover{
    cursor: pointer;
    background-color: #DEEAD9;
}
.socials img{
    width: 60px;
    margin: 20px;
    padding: 5px;
    border-radius: 50%;
    transition: all ease-in 200ms;
}
.socials img:hover{
    background-color: #fff;
    border-radius: 50%;
}
#signUp{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#signUp form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 50%;
    width: 60%;
    border-radius: 20px;
    align-content: flex-end;
    justify-content: space-around;
    padding: 20px;
}
#signUp p{
    color: #255121;
    font-size: 3rem;
    margin: 0;

}
#signUp .error{
    color: rgb(223, 115, 115);
    font-size: 1.5rem;
}
#signUp form input{
    height: 40px;
    border: none;
    outline: none;
    background-color: #DEEAD9;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 1.1rem;
    width: 80%;
}
#signUp form label{
    font-size: 1.2rem;
}
#signUp form button{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #5AB242;
    transition: all ease-in 200ms;
    font-size: 1.2rem;
    color: #fff;
}
#signUp form button:hover{
    cursor: pointer;
    background-color: #6A9957;
}
#registerB{
    background-color: #DEEAD9;
}

@media(max-width: 880px){
    #landingSec{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #logoImg{
        width: 60%;
    }
    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #aboutApp{
        grid-template-columns: 1fr;
        padding-bottom: 18rem;
    }
    #headerBox{
        grid-column: 1/2;
    }

}