<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/styles.css')}}">
    <title>Dashboard</title>
</head>
<body id="dashboardBody">
    <nav>
        <div id="navLinks">
            <a href="/">Financially Free</a>
            {%if g.user%}
            <a href="/dashboard">DashBoard</a>
            <a href="/auth/logout">Logout</a>
            {%else%}
            <a href="/auth/login">Login</a>
            {%endif%}    
        </div>
    </nav>
    <section id="dashboard">
        <aside id="dashForms">
            <p id="userName">Welcome {{g.user['fName']}}</p>
            <div class ="cards" id="expenses">
                <p class="formTitles">Monthly Expenses</p>
                <p class="amounts" id="expenseAmount">0</p>
                <button id="expenseEx" class="plusButton">-</button>
                <form id="dashExpenseForm" method="post" autocomplete="off">
                    <label for="eTitle">Expense Title</label>
                    <input name="expenseTitle" id="eTitle" type="text" placeholder="Expense Title">
                    <label for="cattegory">Expense Category</label>
                    <select name="cattegory" id="cattegory">
                        {%for data in catData%}
                            <option value="{{data['catID']}}">{{data["catName"]}}</option>
                        {%endfor%}
                    </select>
                    <label for="eAmount">Expense Amount</label>
                    <input name="expenseAmount" id="eAmount" type="text" placeholder="Expense Amount">
                    <label for="eDate">Expense Date</label>
                    <input name="exepenseDate" id="eDate" type="date">
                    <select name="didPay" id="payed">
                        <option value="Did payed">Havent Payed</option>
                        <option value="Not Payed">Payed</option>
                    </select>
                    <button name="expenseSub">Add</button>
                </form>
            </div>
            <div class="cards" id="savings">
                <p class="formTitles">Budget</p>
                <p class="amounts" id="budgetsAmount">0</p>
                <button id="savingEx" class="plusButton">-</button>
                <form id="savingForm" method="post" autocomplete="off">
                    <label for="budCatt">Cattegory</label>
                    <select name="budCatt" id="budCatt">
                        {%for data in catData%}
                            <option value="{{data['catID']}}">{{data["catName"]}}</option>
                        {%endfor%}
                    </select>
                    <label for="budAmount">Savings Amount</label>
                    <input name="budgetAmount" id="budAmount" type="text" placeholder="Budget Amount">
                    <button>Add</button>
                </form>
            </div>
        </aside>
        <div id="dashInfo">
            <div class="infoCards">
                <div id="exByCat">
                    <p class="secTitle">Expenses for the month</p>
                    <div id="expenseInfo">
                        <table class="dataTables">
                            <thead>
                                <tr><th colspan="3">{{dataDate.readDate}}</th></tr>
                                <tr>
                                    <th>Expense Title</th>
                                    <th>Expense Amount</th>
                                    <th>Expense Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for d in exData%}
                                    <tr>
                                        <td><span class="cattName">{{d["catName"]}}</span></td>
                                        <td>$<span class="sumExAmount">{{d["exAmount"]}}</span></td>
                                        <td><span class="expenseDate">{{d["expenseDate"]}}</span></td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <canvas id="expenseChart">
    
                        </canvas>
                    </div>
                </div>
                <div id="moreInfo">
                    <p class="secTitle">Expenses by month</p>
                    <div id="monthExpense">
                        <table class="dataTables">
                            <thead>
                                <tr>
                                    <th colspan="2">Monthly Expenses</th>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for d in monthGEx%}
                                    <tr>
                                        <td><span class="barTitles">{{d["dateInfo"]}}</span></td>
                                        <td>$<span class="barSumTotal">{{d["sumTotal"]}}</span></td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <canvas id="monthlyBar"></canvas>
                    </div>
                </div>
                <button id="expenseExpand">-</button>
            </div>
            <div class="infoCards">
                <div id="budgetInfo">
                    <p>Budget</p>
                    <ul class="list">
                        {%for d in budgetData%}
                            <li><span class="budName">{{d["catName"]}}</span> - <span class="budgetAmount">{{d["budgetAmount"]}}</span></li>
                        {%endfor%}
                    </ul>
                </div>
                <div>
                    <canvas id="savingsChart">
                    
                    </canvas>
                </div> 
            </div>
        </div>
    </section>
    <script src="{{url_for('static', filename= './js/dashboard.js')}}"></script>
</body>
</html>