<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/styles.css')}}">
    <title>Dashboard</title>
</head>
<body id="dashboardBody">
    <nav>
        <div id="navLinks">
            <a href="/">Financially Free</a>
            {%if g.user%}
            <a href="/dashboard">DashBoard</a>
            <a href="/auth/logout">Logout</a>
            {%else%}
            <a href="/auth/login">Login</a>
            {%endif%}    
        </div>
    </nav>
    <section id="dashboard">
        <aside id="dashForms">
            <p id="userName">Welcome {{g.user['fName']}}</p>
            <div class ="cards" id="expenses">
                <p class="formTitles">Monthly Expenses</p>
                <p class="amounts" id="expenseAmount">0</p>
                <button id="expenseEx" class="plusButton">-</button>
                <form id="dashExpenseForm" method="post" autocomplete="off">
                    <label for="eTitle">Expense Title</label>
                    <input name="expenseTitle" id="eTitle" type="text" placeholder="Expense Title">
                    <label for="cattegory">Expense Cattegory</label>
                    <select name="cattegory" id="cattegory">
                        {%for data in cattData%}
                            <option value="{{data['cattID']}}">{{data["cattName"]}}</option>
                        {%endfor%}
                    </select>
                    <label for="eAmount">Expense Amount</label>
                    <input name="expenseAmount" id="eAmount" type="text" placeholder="Expense Amount">
                    <label for="eDate">Expense Date</label>
                    <input name="exepenseDate" id="eDate" type="date">
                    <select name="didPay" id="payed">
                        <option value="Did payed">Havent Payed</option>
                        <option value="Not Payed">Payed</option>
                    </select>
                    <button>Add</button>
                </form>
            </div>
            <div class="cards" id="savings">
                <p class="formTitles">Savings</p>
                <p class="amounts" id="savingsAmount">0</p>
                <button id="savingEx" class="plusButton">-</button>
                <form id="savingForm" method="post" autocomplete="off">
                    <label for="sTitle">Savings Title</label>
                    <input id="sTitle" name="savingTitle" type="text" placeholder="Saving Title">
                    <label for="sAmount">Savings Amount</label>
                    <input name="savingAmount" id="sAmount" type="text" placeholder="Savings amount">
                    <label for="sDate">Savings Date</label>
                    <input id="sDate" name="savingDate" type="date">
                    <button>Add</button>
                </form>
            </div>
        </aside>
        <div id="dashInfo">
            <div class="infoCards">
                <div id="expenseInfo">
                    <p>Expenses by cattegory</p>
                    <ul id="expenseList">
                        {%for d in exData%}
                            <li><span class="cattName">{{d["cattName"]}}</span> - <span class="sumExAmount">{{d["exAmount"]}}</span></li>
                        {%endfor%}
                    </ul>
                </div>
                <div>
                    <canvas id="expenseChart">

                    </canvas>
                </div>
            </div>
            <div class="infoCards">
                <div id="savingsInfo">
                    <p>Savings</p>
                </div>
                <div>
                    <canvas id="savingsChart">
                    
                    </canvas>
                </div> 
            </div>
        </div>
    </section>
    <script src="{{url_for('static', filename= './js/dashboard.js')}}"></script>
</body>
</html>