<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/styles.css')}}">
    <title>Financially Free</title>
</head>
<body>
    <nav>
        <div id="navLinks">
            <a href="/">Financially Free</a>
            <a href="/auth/login">Login</a>
            <a href="/auth/logout">Logout</a>
            <a href="/auth/login">DashBoard</a>
        </div>
    </nav>
    <section id="landingSec">
            <img id="logoImg" src="{{url_for('static', filename='./images/logoBlob.svg')}}" alt="Financially Free Logo">
        <div id="title">
            <img src="{{url_for('static', filename='./images/Title.svg')}}" id="title" alt="Financially Free Title">
            <a href="/auth/register"><button>Join Now</button></a>
        </div>
    </section>
    <div id="bgCharts">
        <img src="{{url_for('static', filename='./images/backGroundBars.svg')}}" alt="">
    </div>
    <section id="aboutApp">
        <div id="headerBox">
            <h2>Track your expenses to freedom</h2>
        </div>
        <div id="piChart">
            <canvas id="expensePi"></canvas>
        </div>
        <div id="insertToPi">
            <p>Monthly Expenses: <span id="totalExpenses"></span></p>
            <form action="/" id="expenseForm" autocomplete="off">
                <p class="errorChecking"></p>
                <p class="errorChecking"></p>
                <input required id="expenseTitle" type="text" placeholder="Example: Car Payment">
                <input required id="expenseCost" type="text" placeholder="Example: 300">
                <button>Add</button>
            </form>
        </div>

    </section>
    <footer>
        <div class="socials">
            <a href="https://github.com/Mike1938" target="_"><img src="{{url_for('static', filename='./images/logo-github.svg')}}" alt="GitHub Link"></a>
            <a href="https://www.linkedin.com/" target="_"><img src="{{url_for('static', filename='./images/logo-linkedin.svg')}}" alt="Linkedin"></a>
        </div>
        <div id="otherPages">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/Dashboard">DashBoard</a></li>
            </ul>
        </div>
        <div class="socials">
            <a href="https://twitter.com/home" target="_"><img src="{{url_for('static', filename='./images/logo-twitter.svg')}}" alt="Twitter Link"></a>
            <a href="" target="_"><img src="{{url_for('static', filename='./images/mail-outline.svg')}}" alt="Mail Link"></a>
        </div>
        <div id="backToTop">
            <a href="#top"><button>Back To Top</button></a>
        </div>
    </footer>
    <script src="{{url_for('static', filename='./js/landing.js')}}"></script>
</body>
</html>